@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.App {
  /* text-align: center; */
  max-width: 1000px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  
}



